body {
  font-family: Arial, sans-serif;
  text-align: left;
  margin-left: 0;
  padding: 0;
  background-image: url("./bgmental2.jpg");
  background-size: cover;
}

.navbar {
  background-color: #DDF9D2;
  overflow: hidden;
  display: flex;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  margin-bottom: 100%;
  padding-top: 0;


  width: 100%;
  /* Full width */


}
input[type="radio"] {
  margin-right: 10px; /* Adjust the value as needed */
  margin-left: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50%;
}

.navbar a:hover {

  color: black;
  text-decoration: underline;
}

h1 {
  color: #333;
}

.question {
  margin-bottom: 20px;
}

p {
  font-weight: bold;
}

.footer {
  background-color: #DDF9D2;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.form1 {
  margin-left:30%;
}

.panel {
  display: inline;
  margin-left: 55%;
  margin-top: 10px;
}

.logo {
  display: flex;

}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  /* height: 50vh; */
  padding-top: 1%;
  padding-bottom: 10%;
  /* background:#49693b; */
  background:  linear-gradient(to right, #19793c, #ebcc33);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 60px;
  
  background: #fff;
  border: 1px solid #06625c;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}
.btn:hover{
  background-color: rgb(233, 214, 105);

}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 70%;
  transform: translate(-50%, -50%) scale(1);

}

.popup img {
  width: 100px;
  margin-top: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

.footer {
  background-color: #DDF9D2;
  /* Background color for the footer */
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* Name to the left, content to the right */
  flex-wrap: wrap;
  /* Allow content to wrap to the next line */
} 

.left {

  text-align: left;
}

.right {

  margin-left: 50%;
}

.right>div {

  margin-bottom: 5px;
  margin-left: 10px;
}
.right .content {
  /* Style for the content (Blogs, Resources, FAQ) */
  white-space: nowrap; /* Prevent wrapping */
}

.right .content > div {
  /* Style for individual content items with spacing in between */
  display: inline-block; /* Display them on the same line */
  margin-right: 10px;
}