.chatbox{
    height: 80%;
    width: 70%;
    justify-content: space-evenly;
    text-align:center;
   


    
}
.backgrd{
    /* max-height: fit-content;
    max-width:90%;
    height: 100px; */
    opacity: 0.85;
    height: 600px;
    /* margin-top:10px ; */
    width: 100%;
    /* margin-left: 60px; 
    margin-right: 60px;  */
    padding-top: 80px;
    background-image: url("./images/chatbg.jpeg"); 
  background-repeat: no-repeat;
  background-size: cover;  
  

}
body{
    height: 500px;
}
.title{
    text-align: center;
    margin-left: 40%;
    font-family: "Montserrat";
    font-size: larger;
    padding-top: 0px;
}
.btn_chat{
    margin-top: 3%;
    flex-direction: row;
    padding:20px 10px 5px 20px;
    width:100%;
    margin-left:20%;
    justify-content: space-between;
    
   
}
.btn1{
    background-color:aliceblue;
    color: black;
    font-weight: bold;
   width:30%;
   font-size: large;
   font-family: "Montserrat";
   margin-right: 2%;

}
.btn1:hover{
    background-color:rgb(155, 157, 158);

}
.btn2{
    background-color:aliceblue;
    color: black;
    font-weight: bold;
   width:30%;
   font-size: large;
   font-family: "Montserrat";
   margin-right: 2%;
}
.btn2:hover{
    background-color:rgb(155, 157, 158);

}
.btn3{
    background-color:aliceblue;
    color: black;
    font-weight: bold;
   width:30%;
   font-size: large;
   font-family: "Montserrat";
}
.btn3:hover{
    background-color:rgb(155, 157, 158);

}
/* button{
    background-color:aliceblue;
    color: black;
    font-weight: bold;
   width:30%;
   font-size: large;
   font-family: "Montserrat";

} */