
.login:hover {
    background-color: #0056b3;
}

body{
    background-image: url("./bglogin2.jpg");
    background-size: cover;
  }

.login-container {
    background-color: rgb(230, 230, 228);
    padding: 20px;
    border-radius: 5px;
    width: 25%;
    margin-top: 50px;
    margin-left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.login-form {
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
}

label {
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}

.login {
    background-color:forestgreen;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 10px;
}


.login:hover {
    background-color:chocolate;
}

::placeholder{
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #ccc;
    font-style:bold;
}
