.bg1{
   
    height: 600px;
    margin-top:10px ;
    width: 100%;
    margin-left: 60px;
    padding-top: 40px;
}
.backdrop-filter{
     background-image: url("./images/b16.jpg"); 
    background-repeat: no-repeat;
    background-size: contain; /* Cover the entire container while maintaining aspect ratio */
    /* background-position: center; */
    max-width: 80%;
    max-height: 90%; 
    /* justify-content: center; */
   margin-left: 70px;   
  /* background-size: 60%; */
  /* z-index: 1; */
  
  /* padding: 1rem; */
  /* background-color: aqua; */
  /* backdrop-filter: blur(10px); */
   display: flex;
  flex-direction: column; 
  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2);
  

}
.login-container {
    background-color: #fff;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 200px;
    margin-left: 600px;
    padding-left: 20px;
     /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  */
    height:400px ;
    padding-top:10px;
    padding-bottom: 90px; 
   max-height: 90%;
    
    
} 
h2{
    text-align: center;
    font-family: 'Raleway';
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 10px;
    margin-right:20px;
    
}

label {
    padding: 10px;
    margin-top: 10px;
    font-family: 'RALEWAY';
}

input[type="text"]{
    padding:10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'RALEWAY';
    font-size:20px;

}
input[type="password"]
{
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family:  'RALEWAY';
    font-size:20px;
}

input[type="email"]{
    padding:10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'raleway';
    font-size:20px;
}
.btn{
    margin-bottom: 10px; 
    display: flex;
    padding-top: 20px;
    /* width:100%; */
    opacity: 0.8;
}

/*.login{
    width: 35%; 
    margin-right: 80%;
    
} */
.signup{
     width:60%; 
    margin-left: 89px;
    
}  
button {
    background-color:forestgreen;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    width: 30%;
    
    /* margin-bottom: 10px; */
}