.login-container {
    display: flex;
    width: 100%;
    max-width: 1024px;
    height: 512px;
    margin: auto;
    background-color: #b4c8b1;
    margin-top: 24px;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ccc;
}

.left-container {
    flex: 1;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
}

.left-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.form-container {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #333333;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.LoginLable {
    display: block;
    margin-bottom: 8px;
    color: #5c5c5c;
    margin-left: 0px
}

input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-button,
.signup-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #678c70;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.login-button:hover,
.signup-button:hover {
    background-color: #9a7864;
}

@media (max-width: 768px) {
    .left-container {
        display: none;
    }

    .login-container {
        height: 400px;
        width: 350px;
    }

    .form-container {
        border-radius: 8px;
        padding: 10px;
    }

    input {
        width: 100%;
        max-width: 250px;
    }
}