.schedulechat_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 512px;
    margin-top: 24px;
    margin-bottom: 30px;
}

.box {
    display: flex;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: auto;
    background-color: #b4c8b1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ccc;
}

.schedulechat_left {
    flex: 1;
    overflow: hidden;
    position: relative;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.schedulechat_left img {
    width: 256px;
    height: 256px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

.left-content {
    text-align: center;
}

.schedulechat_right {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-group {
    margin-bottom: 12px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 2px;
    color: #5c5c5c;
}

input,
textarea {
    width: 250%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

.submit {
    font-family: 'Raleway';
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #678c70;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #9a7864;
}

@media (max-width: 768px) {
    .schedulechat_left {
        display: none;
    }

    .schedulechat_right {
        flex: 1;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .schedulechat_right img {
        display: none;
    }
}